name: tsickert JSON discord bot

on: workflow_dispatch

jobs:
  send-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: create JSON
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "event-embed.json"
          json: '{"enbeds":[{"title":"Hello!","description":"Hi! :grinning:"}]}'
          dir: '/'
#       - name: Discord Webhook Action
#         uses: tsickert/discord-webhook@v4.0.0
#         with:
#           webhook-url: ${{ secrets.DISCORD_WEBHOOK01 }}
#           raw-data: event-embed.json
#         content: "${{ github.repository }}"
      - name: GitHub Commit & Push
        uses: actions-js/push@v1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          author_email: "38515818+PardusEidolon@users.noreply.github.com"
          author_name: "PardusEidolon"
          message: "Github action complete."
          

