name: tsickert JSON discord bot
# $HOME/.local/bin/gh2md
# gh2md $GITHUB_REPOSITORY ${{github.repository}}-issues.md --no-closed-issues
on: workflow_dispatch

jobs:
  send-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: github issues to a markdown file.
        run: |
          pip3 install --user --upgrade setuptools
          pip3 install --user gh2md
          echo $GITHUB_REPOSITORY

        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#       - name: Discord Webhook Action
#         uses: tsickert/discord-webhook@v4.0.0
#         with:
#           webhook-url: ${{ secrets.DISCORD_WEBHOOK01 }}
# #           raw-data: event-embed.json
# #           content: "${{ github.sha }}"
#           embed-title: "${{ github.repository	 }}"
#           embed-description: "This is a test"
#           embed-footer-text: "${{ github.repository_owner }}"
#           embed-color: 14177041
#           embed-timestamp: "2021-12-15T08:54:41+00:00"
#           filename: "${{github.repository}}-issues.md"

